<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vkedco.mobappdev.harmonic_curve"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_smile"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".HarmonicCurveApp" >
        <activity
            android:name=".HarmonicCurveMainAct"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HarmonicCurveTuneupAct"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.HarmonicCurveTuneup" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
